@{
    ViewData["Title"] = "About Us";
}
@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="a">Home</a></li>
            <li class="breadcrumb-item"><a href="a">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
        </ol>
    </nav>
}
<h1>This is the About Us page of Application</h1>
@section scripts{
    <script>
       // window.alert("the About Us page")
    </script>
}